    <!-- <app-plainte_kpi
    [plaintesTotale]="plaintesTotale"
    [plaintesEnCours]="plaintesEnCours"
    [plaintesCloturees]="plaintesCloturees"
    [plaintesPrequalifier]="plaintesPrequalifier"
    [plaintesNonPrevu]="plaintesNonPrevu"
    [plaintesEnAttente]="plaintesEnAttente"
    ></app-plainte_kpi> -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-warning card-header-icon">
          <h4 class="card-title"><!-- Plaintes ({{ plaintes.length }}) --></h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12" *ngIf="searching && !ready">
              <!-- Barre de progression pendant la recherche -->
              <mat-progress-bar
                color="warn"
                mode="indeterminate"
              ></mat-progress-bar>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header black-card card-header-tabs">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="home-plainte nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#npec" data-toggle="tab">
                            <i class="material-icons">visibility_off</i> NON
                            PRIS EN CHARGE <b>({{plaintesPrequalifier}})</b>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#ouvert" data-toggle="tab">
                            <i class="material-icons">done_all</i> PLAINTES TRAITEES <b>({{plaintesCloturees}})</b>
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#qos-report" data-toggle="tab">
                            <i class="material-icons">dashboard</i>
                            REPORTING
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Table et formulaire -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="npec">
                      <div class="container-fluid">
                        <div class="table-responsive">
                          <!-- Tableau des plaintes -->
                          <table
                            style="width: 100%"
                            id="npec-table"
                            class="table table-striped table-no-bordered table-hover"
                          >
                          <thead>
                            <tr>
                              <th>DATE CREATION</th>
                              <th>OBJET</th>
                              <th>STATUT</th>
                              <th>NUMERO</th>
                              <th>DESCRIPTION</th>
                              <th>DOMAINE</th>
                              <th>PRIORITE</th>                                
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Boucle sur chaque plainte -->
                            <ng-container *ngFor="let plainteGroupe of plainteGroupes">
                              <tr
                                *ngIf="(plainteGroupe?.statut?.statut =='NON PRIS EN CHARGE')">
                                <!-- Affichage des informations de la plainte -->
                                <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                  {{
                                    plainteGroupe?.plainte?.dateReception
                                      | date : "dd/MM/yyyy HH:mm"
                                  }}
                                </td>
                                <td (click)="goToPlainteDetails( plainteGroupe.plainteId)">
                                  <span *ngIf="plainteGroupe?.plainte?.plainteNumber">[#{{plainteGroupe?.plainte?.plainteNumber}}].</span> {{plainteGroupe?.plainte?.objet}}
                                </td>
                                <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                  {{  plainteGroupe?.statut?.statut }}
                                </td>
                                <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                  {{  plainteGroupe?.plainte?.numeroClient }}
                                </td>
                                <td
                                  (click)="goToPlainteDetails(plainteGroupe.plainteId)"
                                  *ngIf=" plainteGroupe?.plainte?.description?.length > 40"
                                >
                                  {{  plainteGroupe?.plainte?.description?.slice(0, 40) }}...
                                </td>
                                <td
                                  (click)="goToPlainteDetails(plainteGroupe.plainteId)"
                                  *ngIf=" plainteGroupe?.plainte?.description?.length <= 40"
                                >
                                  {{  plainteGroupe?.plainte?.description }}
                                </td>
                                <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                  {{  plainteGroup?.plainte?.sousDomaine?.domaine?.domaine }}
                                </td>
                                <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                  {{  plainteGroupe?.plainte?.priorite?.priorite }}
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="ouvert">
                      <div class="container-fluid">
                        <div class="table-responsive">
                          <!-- Tableau des plaintes -->
                          <table
                            style="width: 100%"
                            id="ouvert-table"
                            class="table table-striped table-no-bordered table-hover"
                          >
                            <thead>
                              <tr>
                                <th>DATE CREATION</th>
                                <th>OBJET</th>
                                <th>STATUT</th>
                                <th>NUMERO</th>
                                <th>DESCRIPTION</th>
                                <th>DOMAINE</th>
                                <th>PRIORITE</th>                                
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Boucle sur chaque plainte -->
                              <ng-container *ngFor="let plainteGroupe of plainteGroupes">
                                <tr
                                  *ngIf="(plainteGroupe?.statut?.statut =='TRAITE')">
                                  <!-- Affichage des informations de la plainte -->
                                  <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                    {{
                                      plainteGroupe?.plainte?.dateReception
                                        | date : "dd/MM/yyyy HH:mm"
                                    }}
                                  </td>
                                  <td (click)="goToPlainteDetails( plainteGroupe.plainteId)">
                                    <span *ngIf="plainteGroupe?.plainte?.plainteNumber">[#{{plainteGroupe?.plainte?.plainteNumber}}].</span> {{plainteGroupe?.plainte?.objet}}
                                  </td>
                                  <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                    {{  plainteGroupe?.statut?.statut }}
                                  </td>
                                  <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                    {{  plainteGroupe?.plainte?.numeroClient }}
                                  </td>
                                  <td
                                    (click)="goToPlainteDetails(plainteGroupe.plainteId)"
                                    *ngIf=" plainteGroupe?.plainte?.description?.length > 40"
                                  >
                                    {{  plainteGroupe.plainte.description.slice(0, 40) }}...
                                  </td>
                                  <td
                                    (click)="goToPlainteDetails(plainteGroupe.plainteId)"
                                    *ngIf=" plainteGroupe?.plainte?.description?.length <= 40"
                                  >
                                    {{  plainteGroupe?.plainte?.description }}
                                  </td>
                                  <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                    {{  plainteGroupe.plainte?.sousDomaine?.domaine?.domaine }}
                                  </td>
    
                                  <td (click)="goToPlainteDetails(plainteGroupe.plainteId)">
                                    {{  plainteGroupe.plainte?.priorite?.priorite }}
                                  </td>
                                
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane " id="qos-report" *ngIf="agent && agent.groupe">
                      <div class="container-fluid">
                        <!-- <app-qos-report [groupeName]="agent?.groupe?.nomGroupe" ></app-qos-report> -->
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>