<div class="row">
    <div class="col col-md-6 mb-3">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h6 class="card-title">Détail plainte</h6>
                <p class="card-text">
                    OBJET:
                    NUMERO CLIENT:
                </p>
                <p class="card-text">
                    EXPEDITEUR:
                    DATE DE RECEPTION:
                </p>
            </div>
        </div>
    </div>
    <div class="col col-md-6">

        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h6 class="card-title">Qualifications</h6>
                <p class="card-text">
                    OBJET:
                    NUMERO CLIENT:
                </p>
                <p class="card-text">
                    EXPEDITEUR:
                    DATE DE RECEPTION:
                </p>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="card" style="width: 28rem;">
            <div class="card-body">
                <h6 class="card-title">Avancements</h6>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Message</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
                    <div class="mb-3"><br>
                        <label for="exampleInputEmail1" class="form-label">Description</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>