<p class="nav justify-content-center" style="margin-top: 5%; ">AJOUTER UNE PLAINTE</p>

  <form  style="margin-top: 5%;" class="nav justify-content-center">
    <fieldset>
      <div class="mb-3">
        <label for="requiredTextInput" class="form-label is-required">Objet<span class="visually-hidden"> obligatoire</span></label>
        <input type="text" id="requiredTextInput" class="form-control" placeholder="obligatoire" required>
        <label for="requiredTextInput" class="form-label is-required">Numero Client<span class="visually-hidden"> obligatoire</span></label>
        <input type="text" id="requiredTextInput" class="form-control" placeholder="obligatoire" required>
      </div>
      <div class="mb-3">
        <label for="requiredTextInput" class="form-label is-required">Numero Client<span class="visually-hidden"> obligatoire</span></label>
        <input type="text" id="requiredTextInput" class="form-control" placeholder="obligatoire" required>
      </div>
      <div class="mb-3">
        <label for="requiredTextInput" class="form-label is-required">Description<span class="visually-hidden"> obligatoire</span></label>
        <input type="text" id="requiredTextInput" class="form-control" placeholder="obligatoire" required>
      </div>
      <div class="mb-3">
        <label for="requiredTextInput" class="form-label ">Latitude</label>
        <input type="text"  class="form-control"  >
      </div>
      <div class="mb-3">
        <label for="requiredTextInput" class="form-label ">Longitude</label>
        <input type="text"  class="form-control"  >
      </div>
      <div class="mb-3">
        <label for="requiredSelect" class="form-label ">Domaine</label>
        <select  class="form-select" >
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="requiredSelect" class="form-label ">Sous-domaine</label>
        <select  class="form-select" >
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="requiredSelect" class="form-label ">Typologie</label>
        <select class="form-select" >
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="requiredSelect" class="form-label ">Type</label>
        <select class="form-select" >
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="requiredSelect" class="form-label ">Origine</label>
        <select class="form-select" >
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary mt-2" >JOINDRE DES FICHIERS</button><br>
        <button type="submit" class="btn btn-primary mt-2" ><a href="plaintes.html" style="text-decoration: none;">AJOUTER</a></button>
        <button type="submit" class="btn btn-primary mt-2" ><a href="#" style="text-decoration: none;">ANNULER</a></button>
      
    </fieldset>
  </form>