<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon">
          <i class="material-icons" >error</i>
        </div>
        <h3 class="card-title">{{ plaintesTotale }}</h3>
        <p class="card-category">PLAINTES</p>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">schedule</i>
        </div>
        <h3 class="card-title"> {{plaintesPrequalifier}} </h3>
        <p class="card-category">NON QUALIFIE</p> 
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">downloading</i>
        </div>
        <h3 class="card-title"> {{plaintesEnCours}} </h3>
        <p class="card-category">EN COURS</p>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">check_small</i>
        </div>
        <h3 class="card-title"> {{plaintesTraiter}} </h3>
        <p class="card-category">TRAITE</p>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">close</i>
        </div>
        <h3 class="card-title"> {{plaintesCloturees}} </h3>
        <p class="card-category">FERME</p>
      </div>
    </div>
  </div>

  <!-- <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">report_off</i>
        </div>
        <h3 class="card-title"> {{plaintesNonPrevu}} </h3>
        <p class="card-category">NON PREVU(S)</p>

      </div>
    </div>
  </div> -->

  <div class="col-lg-2 col-md-4 col-sm-6">
    <div class="card card-stats card-kpi">
      <div class="card-header card-header-default card-header-icon">
        <div class="card-icon card-top">
          <i class="material-icons">pan_tool</i>
        </div>
        <h3 class="card-title"> {{plaintesEnAttente}} </h3>
        <p class="card-category">EN ATTENTE</p>
      </div>
    </div>
  </div>
</div>
