<!-- <app-plainte_kpi
    [plaintesTotale]="plaintesTotale"
    [plaintesEnCours]="plaintesEnCours"
    [plaintesCloturees]="plaintesCloturees"
    [plaintesPrequalifier]="plaintesPrequalifier"
    [plaintesNonPrevu]="plaintesNonPrevu"
    [plaintesTraiter]="plaintesTraiter"
    [plaintesEnAttente]="plaintesEnAttente"
    ></app-plainte_kpi> -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-warning card-header-icon">
        <h4 class="card-title"><!-- Plaintes ({{ plaintes.length }}) --></h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" *ngIf="searching && !ready">
            <!-- Barre de progression pendant la recherche -->
            <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header black-card card-header-tabs">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="home-plainte nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#mesplaintes" data-toggle="tab">
                          <i class="material-icons">menu</i>
                          Mes plaintes <b>({{plaintes.length}})</b>
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item" *ngIf="currentUserGroup?.type === 'USER'">
                        <a class="nav-link" href="#plaintes" data-toggle="tab">
                          <i class="material-icons">group</i>
                          Toutes les plaintes {{currentUserGroup.nomGroupe}} <b>({{plaintesGroupe.length}})</b>
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#qos-report" data-toggle="tab">
                          <i class="material-icons">dashboard</i>
                          REPORTING
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Table et formulaire -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="mesplaintes">
                    <div class="container-fluid">
                      <div class="table-responsive">
                        <!-- Tableau des plaintes -->
                        <table style="width: 100%" id="mesPlainte-table" class="table table-striped table-no-bordered table-hover">
                          <thead>
                            <tr>
                              <th>DATE CREATION</th>
                              <th>OBJET</th>
                              <th>STATUT</th>
                              <th>NUMERO</th>
                              <th>DESCRIPTION</th>
                              <th>DOMAINE</th>
                              <th>PRIORITE</th>                                
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Boucle sur chaque plainte -->
                            <ng-container *ngFor="let plainte of plaintes">
                              <tr>
                                <!-- Affichage des informations de la plainte -->
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte.dateReception | date : "dd/MM/yyyy HH:mm"}}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  <span *ngIf="plainte.plainteNumber">[#{{plainte.plainteNumber}}].</span> {{ plainte.objet }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.statut?.statut }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte.numeroClient }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)" *ngIf="plainte.description.length > 40">
                                  {{ plainte.description.slice(0, 40) }}...
                                </td>
                                <td  (click)="goToPlainteDetails(plainte.id)" *ngIf="plainte.description.length <= 40">
                                  {{ plainte.description }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.sousDomaine?.domaine?.domaine }}
                                </td>

                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.priorite?.priorite }}
                                </td>
                              
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="plaintes">
                    <div class="container-fluid">
                      <div class="table-responsive">
                        <!-- Tableau des plaintes -->
                        <table
                          style="width: 100%"
                         id="plaintes-table"
                          class="table table-striped table-no-bordered table-hover"
                        >
                          <thead>
                            <tr>
                              <th>DATE CREATION</th>
                              <th>OBJET</th>
                              <th>STATUT</th>
                              <th>NUMERO</th>
                              <th>EXPEDITEUR</th>
                              <th>DESCRIPTION</th>
                              <th>DOMAINE</th>
                              <th>PRIORITE</th>                                
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Boucle sur chaque plainte -->
                            <ng-container *ngFor="let plainte of plaintesGroupe">
                              <tr>
                                <!-- Affichage des informations de la plainte -->
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{
                                    plainte.dateReception
                                      | date : "dd/MM/yyyy HH:mm"
                                  }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  <span *ngIf="plainte.plainteNumber">[#{{plainte.plainteNumber}}].</span> {{ plainte.objet }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.statut?.statut }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte.numeroClient }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte.expediteur }}
                                </td>
                                <td
                                  (click)="goToPlainteDetails(plainte.id)"
                                  *ngIf="plainte.description.length > 40"
                                >
                                  {{ plainte.description.slice(0, 40) }}...
                                </td>
                                <td
                                  (click)="goToPlainteDetails(plainte.id)"
                                  *ngIf="plainte.description.length <= 40"
                                >
                                  {{ plainte.description }}
                                </td>
                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.sousDomaine?.domaine?.domaine }}
                                </td>

                                <td (click)="goToPlainteDetails(plainte.id)">
                                  {{ plainte?.priorite?.priorite }}
                                </td>
                              
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane " id="qos-report" *ngIf="agent && agent.groupe">
                    <div class="container-fluid">
                      <!-- <app-qos-report [groupeName]="agent?.groupe?.nomGroupe" ></app-qos-report> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>